---
name: build

# -----------------
# Control variables (GitHub Secrets)
# -----------------
#
# At the GitHub 'organisation' or 'project' level you must have the following
# GitHub 'Repository Secrets' defined (i.e. via 'Settings -> Secrets'): -
#
# (none)
#
# -----------
# Environment (GitHub Environments)
# -----------
#
# Environment         (none)

on:
  push:
    branches:
    - '**'
  schedule:
  # Build daily at 6:32am...
  - cron: '32 6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.11'
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: '${{ matrix.python-version }}'
    - name: Install protoc
      uses: arduino/setup-protoc@v2
      with:
        version: '25.0'
    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
        pip install -r requirements.txt
        pip install -r build-requirements.txt
    - name: Test
      run: |
        pre-commit run --all-files
        pyroma .
    - name: Build
      env:
        P_BASE: 'src/main/proto'
        I_PATH: 'informaticsmatters/protobuf'
      run: |
        for P_DIR in $(ls -d ${P_BASE}/${I_PATH}/*/); do
            protoc -I=${P_BASE} --python_out=${P_BASE} ${P_DIR}/*.proto;
            touch ${P_DIR}/__init__.py
        done
        touch ${P_BASE}/${I_PATH}/__init__.py
        python -m build --sdist --wheel --outdir dist/
